---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
    name: {{ operatorGroupName }}
    namespace: {{ operatorNamespace }}
spec:
    targetNamespaces:
    - {{ operatorNamespace }}
...