---
apiVersion: v1
kind: Secret
metadata:
  name: {{ grafana.serviceAccountTokenSecret }}
  namespace: {{ operatorNamespace }}
  annotations:
    kubernetes.io/service-account.name: {{ grafana.serviceAccount }}
type: kubernetes.io/service-account-token
...
